body {
  background-image: url("../images/menu.jpg");
  background-size: cover;
}

.title {
  background-image: url("../images/titlescreen.jpg");
  background-size: cover;
  width: 650px;
  height: 650px;
  margin: 0 auto;
  border: 2px solid black;
  margin-left: 25%;
}

.banner {
  padding-top: 30px;
}

.play {
  margin-left: 25%;
}

#play {
  margin-top: 30px;
  height: 130px;
  width: 280px;
  border-radius: 20px;
  border: 4px solid rgb(102, 51, 0);
  background-image: url("../images/Extras/Sign.png");
}

#shop {
  display: none;
  position: absolute;
  top: 210px;
  left: 485px;
  height: 200px;
  width: 350px;
  background-color:rgba(0,0,0,0);
  border: 0px;
}

#play2 {
  height: 120px;
  width: 280px;
  border-radius: 20px;
  border: 4px solid rgb(102, 51, 0);
  background-image: url("../images/Extras/Sign.png");
  color:white;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}


.controls {
  margin-top: 60px;
}

.controls img {
  width: 80%;
  margin-left: 10%;
}

#myCanvas {
  border: 2px solid black;
  margin-left: 25%;
}


.shopground {
  position: absolute;
  display: none;
  background-image: url("../images/Extras/shop.png");
  background-size: cover;
  width: 653px;
  height: 652px;
  border: 1px solid black;
  margin-left: 24.5%;
}

.shopmsg {
  text-align: center;
  color:white;
  width: 650px;
  margin-top: 80px;
}

.shopmsg h1 {
  font-size: 26px;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.experience {
  text-align: center;
  color:white;
  width: 650px;
}

.experience h2 {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 20px;
}

.bottles {
  text-align: center;
  color:white;
  width: 650px;
  height: 160px;
}

.bottles button{
  background-color: rgba(0,0,0,0);
  border: 0px;
  color:white;
  width: 30%;
}

.bottles h1 {
  display: inline-block;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.bottles h3 {
  display: inline-block;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#congrats {
  position: absolute;
  display: none;
  background-image: url("../images/Extras/congratulations.png");
  background-size: cover;
  width: 653px;
  height: 652px;
  border: 1px solid black;
  margin-left: 24.5%;
}
